@import url('styles/Layout.css');
@import url('styles/Contacts.css');

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
  flex-flow: column;
}
.flex-fill {
  flex: 1;
}
.flex-item-center {
  justify-content: center;
  align-items: center;
}
