@import url('styles/Layout.css');
@import url('styles/Contacts.css');
:root {
  --color-primary: #0068ff;
  --color-bg: #f5f5f5;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
  flex-flow: column;
}
.flex-fill {
  flex: 1;
}
.flex-item-center {
  justify-content: center;
  align-items: center;
}

.app-button {
  background-color: var(--color-primary);
  height: 35px;
  width: 72px;
  border-radius: 12.6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
}
