@font-face {
  font-family: 'RubikRegular';
  src: url('./Rubik\ Regular/Rubik-Regular.eot');
  src: url('./Rubik\ Regular//Rubik-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./Rubik\ Regular/Rubik-Regular.woff2') format('woff2'),
    url('./Rubik\ Regular/Rubik-Regular.woff') format('woff'),
    url('./Rubik\ Regular/Rubik-Regular.ttf') format('truetype'),
    url('./Rubik\ Regular/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RubikMedium';
  src: url('./Rubik\ Medium/Rubik-Medium.eot');
  src: url('./Rubik\ Medium//Rubik-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('./Rubik\ Medium/Rubik-Medium.woff2') format('woff2'),
    url('./Rubik\ Medium/Rubik-Medium.woff') format('woff'),
    url('./Rubik\ Medium/Rubik-Medium.ttf') format('truetype'),
    url('./Rubik\ Medium/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RubikLight';
  src: url('./Rubik\ Light/Rubik-Light.eot');
  src: url('./Rubik\ Light/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('./Rubik\ Light/Rubik-Light.woff2') format('woff2'),
    url('./Rubik\ Light/Rubik-Light.woff') format('woff'),
    url('./Rubik\ Light/Rubik-Light.ttf') format('truetype'),
    url('./Rubik\ Light/Rubik-Light.svg#Rubik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
